@use './_variables' as *;
@use './_mixins' as *;
//gallery components
@mixin gallery_desktop{
    display: grid;
    width: 80vw;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-left: 5vw;
}
@mixin gallery_tablet{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 0;
}
//button

//list