@use './mixins' as *;
@use './_variables' as *;
//index layout
@include mobile{
    .nav *,.about *,.gallery *,.footer *,.conversation *,.comment *{
        margin: 1rem;
    }
    .hero{
        
        &__subtitle{
            margin-left: 1rem;
            margin-top: 5vh;
        }
    }
    .about{
        &__subtitle{
            margin-bottom: 0;
            margin-left: 3rem;
        }
        &__note-vocal{
            margin-top: 0;
        }
    }
    .gallery{
        &__title{
            margin-bottom: 0;
        }
        &__container{
            margin-top: 0;
        }
        &__item{
            margin-top: 0;
        }
    }
    .conversation{
        &__title{
            margin-bottom: 0;
        }
        &__container-col1{
            margin-bottom: 0;
        }
        &__container-col2{
            margin-top: 0;
            margin-bottom: 0;
        }
        
    }
    .comment{
        &__info{
            margin-bottom: 0;
        }
        &__avatar{
            margin: 0;
            margin-left: 5vw;
        }
        &__time{
            margin-bottom: 0.8rem;
            margin-right: 0;
        }
        &__name{
            margin-left: 0;
            margin-bottom: 0.8rem;
        }
        &__text{
            text-align: left;
            margin-top: 0.5em;
            margin-left: 20vw;
            margin-right: 10vw;
        }
        &__btn{
            margin: 0 0 0 2rem;
        }
        &__likenum{
            margin-left: 0.5rem;
        }

    }
    #username, #comments{
        margin-top: 0;
    }
    .label{
        margin-left: -0.5rem;
        margin-bottom: 0;
    }
    .label2{
        margin-left: 4rem;
    }
    

}



@include tablet{
    .nav *,.about *,.footer *,.conversation *,.comment *{
        margin: 2.25rem;
    }
    .about{
        &__subtitle{
            margin-bottom: 0;
            margin-left: 6rem;
        }
        &__note{
            margin-bottom: 1rem;
        }
        &__note-vocal{
            margin-top: 0;
        }
        &__text{
            margin-top: 0;
        }
    }
    .conversation{
        &__title{
            margin-bottom: 0;
        }
        &__container-col1{
            margin-bottom: 0;
        }
        &__container-col2{
            margin-top: 0;
            margin-bottom: 0;
        }
        
    }
    .comment{
        &__info{
            margin-bottom: 0;
        }
        &__avatar{
            margin: 0;
            margin-left: 3vw;
        }
        &__time{
            margin-bottom: 0.8rem;
            margin-right: 0;
        }
        &__name{
            margin-left: 0;
            margin-bottom: 0.8rem;
        }
        &__text{
            text-align: left;
            margin-top: 0.5em;
            margin-left: 9vw;
            margin-right: 5vw;
        }
        &__btn{
            margin: 0 0 0 2rem;
        }
        &__likenum{
            margin-left: 0.5rem;
        }
    }
    #username, #comments{
        margin-top: 0;
        margin-bottom: 0;
    }
    .label{
        margin-left:-3.5rem;
        margin-bottom: 0;
    }
    .label2{
        margin-left: 3rem;
    }

}

@include desktop{
    *{
        margin: auto;
        .label{
            position: relative;
            left: 10.5vw;
        }
        .label2{
            position: relative;
            left: 12vw;
        }
    }
}