@use './_variables' as *;
@mixin mobile {
    @media (min-width:$mobileSizeMin) and (max-width: $mobileSizeMax) {
    @content;
    }
}

@mixin tablet {
    @media (min-width: $tabletSizeMin) and (max-width: $tabletSizeMax) {
    @content;
    }
}

@mixin desktop {
    @media (min-width: $desktopSizeMin) {
    @content;
    }
}

@mixin tablet-and-desktop {
    @include tablet {
        @content;
}

    @include desktop {
        @content;
    }
}

@mixin flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
@mixin flex_between{
    display: flex;
    justify-content: space-between;
}
@mixin flex_spacearound{
    display: flex;
    justify-content: space-around;
}
@mixin align_center{
    display: flex;
    align-items: center;
}
@mixin column_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin no_style{
    text-decoration: none;
}

@mixin justify_txt{
    text-align: justify;
}

@mixin clean_margin{
    margin: 0;
    max-width: 100%;
}
