@use './_variables' as vars;
@mixin mobile {
    @media (min-width:320px) and (max-width: 767px) {
    @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 1279px) {
    @content;
    }
}

@mixin desktop {
    @media (min-width: 1280px) {
    @content;
    }
}

@mixin tablet-and-desktop {
    @include tablet {
        @content;
}

    @include desktop {
        @content;
    }
}

@mixin flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
@mixin flex_between{
    display: flex;
    justify-content: space-between;
}
@mixin flex_spacearound{
    display: flex;
    justify-content: space-around;
}
@mixin align_center{
    display: flex;
    align-items: center;
}
@mixin column_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin no_style{
    text-decoration: none;
}

@mixin justify_txt{
    text-align: justify;
}


