// color variables
$bandSite-Primary-1:#323232;
$bandSite-Primary-2:#AFAFAF;
$bandSite-Primary-3:white;
$bandSite-Secondary-1:#000000;
$bandSite-Secondary-2:#E1E1E1;
$bandSite-Secondary-3:#FAFAFA;
//font

