@use './partials/_variables' as *;
@use './partials/layout' as *;
@use './partials/_typography' as *;
@use './partials/_mixins' as *;
@use './partials/components' as *;

// hero styles
.hero{
    position: relative;
    background-color: $bandSite-Primary-1;  
    z-index: 1;
    margin: 0;
    @include mobile{
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }
    @include tablet{
        height: 35rem;
    }
    @include desktop{
        height: 35rem;
    }
    &__title{
        margin: 0;
        @include tablet{
            padding: 3rem;
            width: 100%;
            @include align_center;
            height: 28rem;
            margin-top: 0;
            margin-left: 0;
        }@include desktop{
            padding: 3rem;
            width: 100%;
            @include align_center;
            height: 28rem;
            margin-left: 4rem;
        }
        @include mobile{
            padding: 1rem;
            margin-top: 0;
            @include align_center;
            height: 14rem;
            text-align: left;
            margin-left: 0;
        }
    }
    & ::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
    }
}


//about style
.about{
        margin: 0;
        display: flex;
        @include column_center;
    &__title{
        @include mobile{
            width: 85vw;
            padding-top: 1.5rem;
            margin-bottom: 0;
        }
        @include tablet{
            width: 85vw;
            text-align: left;
            padding-top: 1.5rem;
            margin-bottom: 0;
        }
        @include desktop{
            width: 85vw;
            text-align: left;
            padding-top: 3rem;
            margin-bottom: 01.5rem;
        }
    }
    &__img{
        
        @include mobile{
            width: 85%;
            height: 14rem;
            object-fit: cover;
        }
        @include tablet{
            width: 75%;
            height: 20rem;
            object-fit: cover;
        }
        @include desktop{
            width: 71%;
            height: 35rem;
            object-fit: cover;
        }
    }
    &__note{
        
        @include mobile{
            width: 85vw;
            margin: 0 1rem 1rem 1rem;
            @include justify_txt;
        }
        @include tablet{
            width: 75vw;
            margin: 0 1rem 1rem 1rem;
            @include justify_txt;
        }
        @include desktop{
            position: relative;
            left: -5rem;
            width: 60vw;
            margin: 3rem 0 0 0;
            @include justify_txt;
        }
        &-vocal{
            @include mobile{
                margin: 0;
            }
            @include desktop{
                margin-top: 1rem;
                margin-bottom: 2rem;
            }
        }
        
        
    }
    &__container{
        @include column_center;
    }
    &__subtitle{
        width:85vw;
        text-align: left;
        @include mobile{
            margin-bottom: 0;
        }
        @include tablet{
            margin-bottom: 0;
            margin-left: 20.2rem;
        }
        @include desktop{
            margin-left: 13.25rem;
            margin-top: 2rem;
            margin-bottom: 2rem;

        }
    }
    &__text{
        width:85vw;
        text-align: left;
        
        @include tablet{
            display: flex;
            &-intro{
                display: inline-block;
            }
        }
        @include desktop{
            width:80vw;
            margin: 0;
            @include flex_between;
            margin-bottom: 2rem;
            gap: 2rem;
            &-intro{
                width: 30vw;
                margin-top: 0;
                display: inline-block;
            }
        }
    }

}

//gallery styles
@include tablet{
    
    .gallery {
        background-color: $bandSite-Secondary-3;
        @include clean_margin;
        padding: 2rem;
        &__title{
            margin-left: 0.5rem;
            width: 100vw;
        }
        &__item{
            margin: 0;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        &__container{
            @include gallery_tablet;
            }
        
    }

}

@include desktop{
    .gallery {
        background-color: $bandSite-Secondary-3;
        @include clean_margin;
        padding: 4rem;
        display: inline-block;
        &__title{
            margin-left: 5rem;
            margin-bottom: 2rem;
            width: 100vw;
        }
        &__item{
            margin: 0;
            width: 100%;
            height: auto;
            object-fit: cover;
            position: relative;
            display: block;
            // I only add the hover filter on desktop because I cannot hover on mobile & tablet
            filter: brightness(50%); 
            transition: filter 0.3s ease;
            &:hover{
                filter: brightness(100%); 
            } 
        }
        &__container{
            @include gallery_desktop;
                }
            }
        }



@include mobile{
    .gallery{
        background-color: $bandSite-Secondary-3;
        @include clean_margin;
        @include column_center;
        gap: 2rem;
        padding: 1rem;
        &__title{
            position: relative;
            left: 2rem;
            display: block;
            width: 100%;
        }
        &__item{
            margin: 0;
            width: 100%;
            height: auto;
            object-fit: cover;
            margin: 0.8rem;
            
        }
    }
}





