@use './partials/_variables' as *;
@use './partials/layout' as *;
@use './partials/_typography' as *;
@use './partials/_mixins' as *;
@use './partials/components' as *;

// hero styles
.hero{
    position: relative;
    background-color: $bandSite-Primary-1;  
    z-index: 1;
    margin: 0;
    @include mobile{
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }
    @include tablet{
        height: 35rem;
    }
    @include desktop{
        height: 35rem;
    }
    &__title{
        margin: 0;
        padding: 1rem;
        @include align_center;
        height: 14rem;
        text-align: left;
        @include tablet{
            padding: 3rem;
            width: 100%;
            height: 28rem;
        }@include desktop{
            padding: 4rem;
            width: 100%;
            @include align_center;
            height: 28rem;
            margin-left: 4rem;
        }

    }
    & ::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
    }
}


//about style
.about{
        margin: 0;
        display: flex;
        @include column_center;
        @include desktop{
            padding: 4rem; 
        }
    &__title{
        @include mobile{
            width: 85vw;
            padding-top: 1.5rem;
            margin-bottom: 0;
        }
        @include tablet{
            width: 85vw;
            text-align: left;
            padding-top: 1.5rem;
            margin-bottom: 0;
        }
        @include desktop{
            text-align: left;
            margin-left: 5rem;
            margin-bottom: 2rem;
            width: 100vw;
        }
    }
    &__img{
        
        @include mobile{
            width: 85%;
            height: 14rem;
            object-fit: cover;
        }
        @include tablet{
            width: 75%;
            height: 20rem;
            object-fit: cover;
        }
        @include desktop{
            width: 71%;
            height: 35rem;
            object-fit: cover;
        }
    }
    &__note{
        
        @include mobile{
            width: 85vw;
            margin: 0 1rem 1rem 1rem;
            @include justify_txt;
        }
        @include tablet{
            width: 75vw;
            margin: 0 1rem 1rem 1rem;
            @include justify_txt;
        }
        @include desktop{
            position: relative;
            left: -5rem;
            width: 60vw;
            margin: 3rem 0 0 0;
            @include justify_txt;
        }
        &-vocal{
            @include mobile{
                margin: 0;
            }
            @include desktop{
                margin-top: 1rem;
                margin-bottom: 2rem;
            }
        }
        
        
    }
    &__container{
        @include column_center;
    }
    &__subtitle{
        width:85vw;
        text-align: left;
        @include mobile{
            margin-bottom: 0;
        }
        @include tablet{
            margin-bottom: 0;
            margin-left: 20.2rem;
        }
        @include desktop{
            margin-left: 13.25rem;
            margin-top: 2rem;
            margin-bottom: 2rem;

        }
    }
    &__text{
        width:85vw;
        text-align: left;
        
        @include tablet{
            display: flex;
            &-intro{
                display: inline-block;
            }
        }
        @include desktop{
            width:80vw;
            margin: 0;
            @include flex_between;
            margin-bottom: 2rem;
            gap: 2rem;
            &-intro{
                width: 30vw;
                margin-top: 0;
                display: inline-block;
            }
        }
    }

}

//gallery styles
@include tablet{
    
    .gallery {
        background-color: $bandSite-Secondary-3;
        @include clean_margin;
        padding: 2rem;
        &__title{
            margin-left: 0.5rem;
            width: 100vw;
        }
        &__item{
            margin: 0;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        &__container{
            @include gallery_tablet;
            }
        
    }

}

@include desktop{
    .gallery {
        background-color: $bandSite-Secondary-3;
        @include clean_margin;
        padding: 4rem;
        display: inline-block;
        &__title{
            margin-left: 5rem;
            margin-bottom: 2rem;
            width: 100vw;
        }
        &__item{
            margin: 0;
            width: 100%;
            height: auto;
            object-fit: cover;
            position: relative;
            display: block;
            // I only add the hover filter on desktop because I cannot hover on mobile & tablet
            filter: brightness(50%); 
            transition: filter 0.3s ease;
            &:hover{
                filter: brightness(100%); 
            } 
        }
        &__container{
            @include gallery_desktop;
                }
            }
        }



@include mobile{
    .gallery{
        background-color: $bandSite-Secondary-3;
        @include clean_margin;
        @include column_center;
        gap: 2rem;
        padding: 1rem;
        &__title{
            position: relative;
            left: 2rem;
            display: block;
            width: 100%;
        }
        &__item{
            margin: 0;
            width: 100%;
            height: auto;
            object-fit: cover;
            margin: 0.8rem;
            
        }
    }
}
//conversation styles
.conversation{
        &__title{
            position: relative;
            left: 2rem;
            display: block;
            width: 100%;
        }
        &__container{
            position: relative;
            left: 3rem;
            @include column_center;
            &-col1{
                @include flex-spacearound;
            }
            &-col2{
                @include column_center;
            }
        }
        &__button{
            width: 96%;
            display: flex;
            justify-content: flex-end;
        }
    @include desktop{
        padding: 4rem;
        &__title{
            margin-left: 5rem;
            margin-bottom: 2rem;
            width: 100vw;
        }
    }
}
//comment style
#comment__container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: .12rem solid $bandSite-Secondary-2;
    border-bottom: .02rem solid $bandSite-Secondary-2;
    margin-bottom: 1rem;
    @include tablet{
        margin-top: 0;
        width: 80%;
    }
    @include desktop{
        margin:0 auto;
        width: 50%;
        padding-bottom: 5vh;
    }
}
.comment{
    display: flex;
    flex-direction: column;
    border-bottom: .12rem solid $bandSite-Secondary-2;
    padding-bottom: 1em;
    @include desktop{
        padding-left: 4vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
    &__info{
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include desktop{
            width: 100%;
        }
    }
    &__name{
        width: 47%;
        text-align: left;
        @include tablet{
            width: 60%;
            position: relative;
            right: 2.7rem;
        }
        @include desktop{
            width: 60%;
            position: relative;
            right: 7.2rem;
            
            
        }
    }
    &__text{
        width: 65vw;
        @include desktop{
            width: 45vw;
            padding-bottom: 1rem;
        }
        
    }
    
    &__avatar{
        position: relative;
        right: 1rem;
        top: 0.4rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: calc(50% + 0.3rem) center;
        @include tablet{
            width: 3rem;
            height: 3rem;
            right: 3rem;
            top: 1rem;
        }
        @include desktop{
            width: 3rem;
            height: 3rem;
            right: 5rem;
            bottom: 2rem;
        }
        &.placeholder {
            width: 2.5rem;
            height: 2.5rem;
            background-color: $bandSite-Secondary-2; 
            @include tablet{
                width: 3rem;
                height: 3rem;
            }
            @include desktop{
                width: 3rem;
                height: 3rem;
            }
        }
    }
}

#avatar{
    position: relative;
    top: 1rem;
    right: 6vw;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: calc(50% + 0.4rem) center;
    @include tablet{
        top: 1.5rem;
        left: 4vw;
        width: 3rem;
        height: 3rem;
    }
    @include desktop{
        margin-top: 0;
        left: 9vw;
        width: 3rem;
        height: 3rem;
    }
}


#username{
    border: .0625rem solid $bandSite-Secondary-2;
    padding-left: 1rem;
    position: relative;
    right: 2rem;
    height: 2.25rem;
    width: 57vw;
    border-radius: .25rem;
    background-color: $bandSite-Secondary-3;
    @include tablet{
        width: 70vw;
        right: 3rem;

    }
    @include desktop{
        width: 45vw;
        right: 1.3rem;
        margin-bottom: 2vh;

    }

    
}
input[placeholder="Enter your name"]::placeholder, textarea[placeholder="Add a new comment"]::placeholder{
    color: $bandSite-Secondary-1;
}


#comments{
    resize: none;
    padding-top: 0.5rem;
    padding-left: 1rem;
    height: 8.25rem;
    width: 57vw;
    border-radius: .25rem;
    border-color: $bandSite-Secondary-2;
    background-color: $bandSite-Secondary-3;
    color: $bandSite-Primary-1;
    @include tablet{
        width: 70vw;
        position: relative;
        left: 0.5rem;
    }
    @include desktop{
        width: 45vw;
        
    }
}

input.error, textarea.error {
    border-color: #ff0000; 
}

.label{
    width: 70vw;
    text-align: left;
}


#button{
    margin-right: 6vw;
    height: 3rem;
    width: 61vw;
    border-radius: .25rem;
    color: $bandSite-Primary-3;
    background-color: $bandSite-Primary-1;
    &:hover{
        background-color: $bandSite-Secondary-1;  
    }
    @include tablet{
        margin-right: 4.5vw;
        width: 20vw;
    }
    @include desktop{
        margin-right: 17vw;
        margin-top: 2vw;
        width: 15vw;
    }
}

