//nav and footer styles for the global
@use './partials/_variables' as *;
@use './partials/layout' as *;
@use './partials/_typography' as *;
@use './partials/_mixins' as *;

// nav styles
.nav{
    margin: 0;
    background-color: $bandSite-Primary-1;
    display: flex;
    @include mobile{
        flex-direction: column;
        align-items: center;
    }
    &__title{
        @include mobile{
            position: relative;
            left: -0.2rem;
            width: 7.5rem;
            height: 1.25rem;
            margin-top: 0.4rem;
            padding-bottom: 1rem;
            display: inline-block;
        }
        @include tablet{
            width: 7.5rem;
            height: 1.25rem;
            margin: 1rem 2rem 0 0.8rem;
            padding-left: 0.4rem;
            padding-right: 1.8rem;
        }
        @include desktop{
            width: 7.5rem;
            height: 1.25rem;
            margin: 1rem 2rem 0 2.8rem;
            padding-left: 0.4rem;
            padding-right: 1.8rem;
            padding-bottom: 3rem;
        }
    }
    &__container{
        margin: 0;
        width: 100%;
        display: flex;
        @include mobile{
            @include flex_spacearound;
            align-items: center;
        }
        
        
    }
    &__item{
        text-align: center;
        @include no_style;
        @include mobile{
            width: 50%;
            margin: 0;
            padding-bottom: 1.5rem;
        }
        @include tablet{
            width: 12%;
            height: 1rem;
            margin-left: 1rem;
            margin-bottom: 0;
            padding-bottom: 2rem;
        }
        @include desktop{
            width: 6%;
            height: 3rem;
            margin-left: 4rem;
            margin-right: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
    &__item--active{
        &:hover{
            color: $bandSite-Secondary-2;
            font-weight: 400;
            border-bottom: solid .25rem $bandSite-Primary-3;
            transition: border-color 0.6s ease-in-out;
        }

    }
}

//footer style
@include mobile{
    .footer{
        margin: 0;
        background-color: $bandSite-Primary-1;
        display: flex;
        flex-direction: column;
        &__title{
            padding-top: 2rem;
            padding-left: 1rem;
        }
        &__media{
            &-link{
                margin: 0;
                padding: 0;
            }
            
            &-icon{
                width: 2rem;
                height: 1.8rem;
            }
        }
        &__container{
            
            margin: 0;
            &--modifier2{
                position: relative;
                bottom: 5rem;
            }
        }
        &__connect{
            &-title{
                font-weight: 400;
                margin: 2rem 1rem;
            }
            &-txt{
                position: relative;
                top: -1rem;
                margin: 0 1rem;
            }
            &-email{
                margin: 4rem 1rem;
            }
        }
        &__copyright{
            &-subtitle{
                position: relative;
                height: 1.5rem;
                bottom: -30rem;
                right: -1.2rem;
            }
            &-txt{
                position: relative;
                top: -2rem;
                width: 100%;
                margin-top: 1rem;
                }
        }
    }

}

@include tablet{
    .footer{
        margin: 0;
        background-color: $bandSite-Primary-1;
        width: 100vw;
        height: auto;
        &__title{
            position: relative;
            left: 1rem;
            top: 2rem;
            margin: 0;
        }
        &__media{
            position: relative;
            right: 1rem;
            top: 1rem;
            margin: 0;
            &-link{
                margin: 0;
                padding: 0;
            }
            
            &-icon{
                width: 2rem;
                height: 1.8rem;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 1rem;
            }
        }
        
        &__container{
            width: 100%;
            margin: 0;
            @include flex_spacearound;
            align-items: center;
            &--modifier1{
                position: relative;
                right: 2rem;
                flex-grow: 1;
            }
            &--modifier2{
                flex-grow: 1;
            }
        }
        &__connect{
            flex-grow: 1;
            &-title{
                display: block;
                margin: 2rem 1rem;
            }
            &-txt{
                display: block;
                margin: 0 1rem;
            }
            &-email{
                margin: 2rem 1rem 0 1rem;
                position: relative;
                top: 2rem;
            }
        
        }

        &__copyright{
            &-subtitle{
                position: relative;
                top: 1.5rem;
                margin: 0 1rem;
            }
            &-txt{
                position: relative;
                top:0;
                left: 1rem;
                margin: 0;
                padding-bottom: 2rem;
            }
        }
        
    
    }
}

@include desktop{
    .footer{
        margin: 0;
        height: 55vh;
        background-color: $bandSite-Primary-1;
        &__title{
            padding-top: 1rem;
            padding-left: 1rem;
            margin: 0;
        }
        &__media{
            margin: 0;
            &-link{
                margin: 0;
                padding: 0;
            }
            
            &-icon{
                position: relative;
                right: 4rem;
                bottom: -0.5rem;
                width: 2rem;
                height: 1.8rem;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 1.5rem;
            }
        }
        
        &__container{
            width: 60%;
            margin: 0;
            @include flex_spacearound;
            gap: 1rem;
            &--modifier1{
                position: relative;
                left: 5rem;
                bottom: 1rem;
                width: 100%;
                justify-content: flex-start;
                align-items: center;
                padding-top: 3rem;
                gap:9rem;
                flex-grow: 1;
            }
            &--modifier2{
                margin-left: 5rem;
                flex-grow: 1;
            }
        }
        &__connect{
            flex-grow: 1;
            &-title{
                display: block;
                font-weight: 400;
                margin: 2rem 1rem;
            }
            &-txt{
                display: block;
                margin: 0 1rem;
            }
            &-email{
                margin: 2rem 1rem 0 1rem;
                position: relative;
                top: 2rem;
            }
        }
        &__copyright{
            &-subtitle{
                position: relative;
                height: 1.5rem;
                top: 0.2rem;
                left: 4rem;
                
            }
            &-txt{
                position: relative;
                top:5rem;
                left: 6rem;
                margin: 0;
                padding-bottom: 1rem;
            }
        }
    }
}