@use './partials/_variables' as *;
@use './partials/layout' as *;
@use './partials/_typography' as *;
@use './partials/_mixins' as *;
@use './partials/components' as *;
// hero styles
.hero{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $bandSite-Primary-1;  
    z-index: 1;
    margin: 0;
    
    @include mobile{
        //width: 100%;
        height: 60vh;
        object-fit: cover;
    }
    @include tablet{
        height: 35rem;
    }
    @include desktop{
        height: 35rem;
    }
    &__album{
        align-self: center;
        width: 90%;
        margin-bottom: 1rem;
    }
    &__title{
        margin: 0;
        @include tablet{
            padding: 3rem;
            width: 100%;
            @include align_center;
            height: 28rem;
            margin-top: 0;
            margin-left: 0;
        }@include desktop{
            padding: 4rem;
            width: 100%;
            @include align_center;
            height: 28rem;
            margin-left: 4rem;
        }
        @include mobile{
            padding: 1rem;
            margin-top: 0;
            @include align_center;
            height: 14rem;
            text-align: left;
            margin-left: 0;
        }
        
    }
    & ::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/hero-shows.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
    }
}

.show{
    &__title{
        margin-left: 16px;
    }
    &__container{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding: 16px;
        border-bottom: 2px solid #ccc;
}
    &__tag{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    
    &__button{
        align-self: center;
    }

    &:hover{
        background-color: $bandSite-Secondary-3;
    }

    &:active{
        background-color: $bandSite-Secondary-2;
    }
    
}

.show__date, .show__venue, .show__location {
    margin: 0;
}

button{
    border: none;
    margin: 1rem 1rem;
    height: 3rem;
    width: 100%;
    border-radius: .25rem;
    color: $bandSite-Primary-3;
    background-color: $bandSite-Primary-1;
    &:hover{
        background-color: $bandSite-Secondary-1;  
    }
    @include tablet{
        margin-right: 4.5vw;
        width: 20vw;
    }
    @include desktop{
        margin-right: 17vw;
        margin-top: 2vw;
        width: 15vw;
    }
}