@use './partials/_variables' as *;
@use './partials/layout' as *;
@use './partials/_typography' as *;
@use './partials/_mixins' as *;
@use './partials/components' as *;
// hero styles
.hero{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $bandSite-Primary-1;  
    z-index: 1;
    margin: 0;
    height: 60vh;
    object-fit: cover;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/images/hero-shows.jpg");
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
        }
    &__subtitle{
        @include tablet{
            position: relative;
            top: 15%;
            left: 6%;
        }
        @include desktop{
            margin-left: 8rem;
            margin-top: 8rem;
            margin-bottom: 0;
        }
    }
    
    @include tablet{
        height: 35rem;
    }
    @include desktop{
        height: 35rem;
    }
    &__album{
        align-self: center;
        width: 90%;
        margin-bottom: 1rem;
        @include tablet{
            width: 50%;
            align-self: flex-start;
            margin-left: 3rem;
            margin-bottom: 1rem;
        }
        @include desktop{
            width: 40%;
            position: relative;
            left: 55%;
            bottom: 40%;
            margin-left: 1rem;
        }
    }
    &__title{
        margin: 0;
        padding: 1rem;
        margin-top: 0;
        @include align_center;
        height: 14rem;
        text-align: left;
        @include tablet{
            padding: 3rem;
            width: 100%;
            @include align_center;
            height: 28rem;
            margin-top: 0;
            margin-left: 0;
        }@include desktop{
            padding: 4rem;
            width: 100%;
            @include align_center;
            height: 28rem;
            margin-left: 4rem;
        }

    }
    
}

.show{
    &__title{
        margin-left: 1rem;
        @include tablet{
            margin-left: 1.5rem;
        }
        @include desktop{
            margin-left: 5rem;
            margin-top: 3rem;
        }
    }
    &__container{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding: 16px;
        border-bottom: .1rem solid $bandSite-Secondary-2;
        @include mobile{
            &:hover{
                background-color: $bandSite-Secondary-3;
            }
        
            &:active{
                background-color: $bandSite-Secondary-2;
            }
        }
        @include tablet{
            border:none;
            &-label{
                padding-left: 1.5rem;
                width: 56%;
                display: flex;
                justify-content: space-between;
                text-align: left;
            }
            &-info{
                padding-left: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: left;
                border-bottom: .0938rem solid $bandSite-Secondary-2;
                &:hover{
                    background-color: $bandSite-Secondary-3;
                }
            
                &:active{
                    background-color: $bandSite-Secondary-2;
                }
            }
        }

        @include desktop{
            border:none;
            &-label{
                width: 60%;
                display: flex;
                justify-content: space-between;
                
                text-align: left;
                position: relative;
                right: 7rem;
            }
            &-info{
                padding-left: 1rem;
                width: 75%;
                position: relative;
                left: 6rem;
                display: flex;
                justify-content: space-between;
                gap: 2rem;
                align-items: center;
                text-align: left;
                border-bottom: .0938rem solid $bandSite-Secondary-2;
                &:hover{
                    background-color: $bandSite-Secondary-3;
                }
            
                &:active{
                    background-color: $bandSite-Secondary-2;
                }
            }
        }
        
}
    &__tag{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    
    &__button{
        align-self: center;
        @include desktop{
            // position: relative;
            // left: 10rem;
            margin-right: 0;
        }
    }

    
    
}

.show__date, .show__venue, .show__location {
    margin: 0;
}

button{
    border: none;
    margin: 1rem 1rem;
    height: 3rem;
    width: 100%;
    border-radius: .25rem;
    color: $bandSite-Primary-3;
    background-color: $bandSite-Primary-1;
    &:hover{
        background-color: $bandSite-Secondary-1;  
    }
    @include tablet{
        margin-right: 4.5vw;
        width: 20vw;
    }
    @include desktop{
        margin-right: 17vw;
        margin-top: 2vw;
        width: 15vw;
    }
}